{% extends 'base.html' %}

{% block context %}
  <h1>Detail Page</h1>

  <p>제목 : {{ movie.id }}</p>
  <p>내용 : {{ movie.description }}</p>
  <p>작성자 : {{ movie.user_id }}</p>

  {% if movie.user_id == user %}
    <a href={% url 'movies:update' movie.id %}>수정하기</a>
    <a href={% url 'movies:delete' movie.id %}>삭제하기</a>
  {% endif %}
  <hr/>

  <h3>Comments</h3>

  {% for comment in comments %}
    {% if comment.user_id == user %}
      <a href={% url 'movies:comment_delete' movie.id comment.id %} style="float:right">삭제하기</a>
    {% endif %}
    <p>[ {{ comment.id }} ] : {{ comment.user_id }} : {{ comment.content }}</p>
  {% endfor %}

  {% if user.is_authenticated %}

    <form action={% url 'movies:comment_create' movie.id %} method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">댓글작성</button>
    </form>

  {% endif %}
{% endblock context %}
